PORT=3001
MONGODB_URI=mongodb://localhost:27017/vaultid
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880
GOOGLE_CLIENT_ID=1053975349961-bapg26sk2r0nqteo0d4g34fioh76aih1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://vaultid-ubsw.onrender.com/api/auth/google/callback
FRONTEND_URL=https://vaultid.netlify.app
